#calendarBody{
	border: 1px solid #D3D3D3;
	border-radius: 15px;
	text-align: center;
}

#calendarSideBar{
	border: 1px solid #D3D3D3;
	border-radius: 15px;
	text-align: center;
	padding: 25px;
	margin-bottom: 50px;
}

#box{
	padding: 30px;
	border: 1px solid #D3D3D3;
	border-radius: 15px;
	text-align: center;
}